In [2]:
import requests
from datetime import date
import yfinance as yf
import pandas as pd
headers = {'User-Agent': 'Franz Kleber (franzkleber99@gmail.com)'}

In [14]:
company_df = pd.read_csv('S&P 500 Companies.csv')

In [15]:
company_df

    Symbol            Wikipedia_URL
0      MMM                       3M
1      AOS  A._O._Smith_Corporation
2      ABT      Abbott_Laboratories
3     ABBV                   Abbvie
4     ABMD                  Abiomed
..     ...                      ...
494   ZBRA       Zebra_Technologies
495    ZBH            Zimmer_Biomet
496   ZION     Zions_Bancorporation
497    ZTS                   Zoetis
498    WBD   Warner_Bros._Discovery

[499 rows x 2 columns]

In [2]:
def get_views(url):
    response = requests.get(url,headers = headers)
    return response.json()['items'][0]['views']

In [38]:
def construct_url(company, time_span):
    url = "https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia/all-access/all-agents/"
    url += str(company)
    url += "/monthly"
    url += time_span
    return url

In [55]:
def get_timespan(month = date.today().month, year = date.today().year):
    pre_month = month-1
    pre_year = year

    if month == 1:
        pre_month = 12
        pre_year -= 1
    
    if month < 10 :
        month = "0" + str(month)
    
    if pre_month < 10 :
        pre_month = "0" + str(pre_month)

    str_pre = str(pre_year) + str(pre_month) + "01"
    str_today = str(year) + str(month) + "01"

    return "/" + str_pre + "/" + str_today

In [18]:
company_str = ""
for x in company_df['Symbol']:
    company_str += str(x)+" "
tickers = yf.Tickers(company_str)

In [27]:
stock_data = yf.download(company_str, "5y", "1mo")

ModuleNotFoundError: No module named 'yahoo_fin'

In [28]:
tickers.history(period= "1mo")['Open']

[*********************100%***********************]  499 of 499 completed

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2022-03-28,136.036419,17.270000,215.919998,172.169998,160.610001,154.050003,320.769989,119.379997,326.579987,433.420013,...,80.500000,70.830002,83.169998,49.810001,86.139999,119.970001,125.400002,425.660004,70.610001,190.229996
2022-03-29,138.003335,17.889999,212.580002,176.690002,162.990005,155.100006,328.059998,121.830002,339.000000,459.160004,...,81.699997,71.239998,80.809998,50.299999,89.110001,122.769997,126.839996,429.339996,70.970001,191.889999
2022-03-30,137.713780,17.920000,214.169998,178.550003,161.720001,155.429993,329.980011,119.870003,336.570007,461.519989,...,81.349998,71.849998,83.059998,49.549999,88.809998,121.510002,129.050003,434.000000,69.870003,191.820007
2022-03-31,134.958118,18.160000,211.220001,177.839996,162.929993,154.649994,330.000000,120.209999,337.500000,461.589996,...,81.370003,72.349998,82.870003,49.480000,87.739998,121.190002,128.419998,428.910004,67.230003,192.449997
2022-04-01,133.969657,18.299999,207.759995,174.029999,162.149994,154.929993,333.720001,118.839996,338.589996,455.000000,...,81.760002,72.220001,81.989998,49.450001,86.430000,118.930000,126.750000,414.630005,66.610001,188.770004
2022-04-04,133.860001,18.160000,207.529999,174.570007,162.500000,156.009995,333.000000,117.870003,341.989990,461.040009,...,81.040001,72.199997,83.559998,49.049999,86.080002,118.360001,126.930000,433.500000,64.290001,191.139999
2022-04-05,134.089996,18.350000,210.919998,177.500000,161.889999,154.619995,328.600006,118.260002,341.500000,469.320007,...,81.650002,72.849998,83.500000,48.480000,87.190002,116.830002,125.430000,431.959991,64.059998,188.740005
2022-04-06,132.009995,17.260000,210.009995,172.360001,164.490005,155.460007,317.690002,119.000000,338.290009,448.239990,...,77.470001,73.150002,83.419998,48.330002,85.470001,117.019997,128.389999,417.529999,64.010002,188.160004
2022-04-07,132.899994,17.139999,211.610001,171.160004,167.669998,158.130005,314.239990,119.599998,338.989990,444.089996,...,75.940002,74.739998,83.830002,48.060001,86.389999,118.269997,127.320000,418.079987,63.570000,191.199997
2022-04-08,135.710007,16.870001,217.529999,171.779999,173.000000,163.520004,315.359985,123.419998,342.429993,449.950012,...,73.419998,74.750000,85.169998,48.020000,86.940002,118.720001,129.929993,416.260010,63.680000,197.789993
2022-04-11,133.220001,16.500000,225.740005,168.710007,174.899994,165.699997,313.140015,123.480003,336.100006,438.809998,...,71.300003,74.889999,85.779999,47.169998,86.529999,118.930000,129.100006,410.779999,63.959999,198.970001
2022-04-12,131.690002,17.129999,222.160004,168.020004,169.309998,161.190002,303.029999,119.790001,329.730011,442.690002,...,72.599998,74.230003,85.709999,48.470001,86.080002,119.000000,127.120003,410.880005,63.730000,192.110001
2022-04-13,125.260002,17.879999,221.720001,167.389999,165.000000,162.630005,300.239990,117.559998,324.339996,427.299988,...,72.349998,75.010002,86.610001,48.389999,84.570000,119.959999,126.050003,401.200012,62.560001,187.990005
2022-04-14,128.419998,18.990000,221.000000,170.619995,157.850006,163.289993,306.320007,120.050003,326.880005,435.859985,...,73.419998,74.410004,86.669998,48.820000,86.919998,122.129997,128.160004,407.000000,63.709999,189.899994
2022-04-18,126.440002,18.860001,217.380005,163.919998,161.960007,160.339996,306.390015,117.019997,318.519989,419.399994,...,73.500000,74.589996,88.500000,49.070000,83.449997,122.389999,125.620003,391.000000,63.070000,186.550003
2022-04-19,123.709999,18.860001,218.839996,165.020004,160.399994,162.380005,302.720001,116.680000,312.709991,422.019989,...,73.800003,74.250000,88.010002,42.029999,82.970001,123.139999,126.070000,393.570007,64.010002,183.240005
2022-04-20,127.709999,19.660000,224.960007,168.759995,156.360001,163.649994,324.559998,119.480003,324.029999,440.589996,...,77.809998,75.419998,87.970001,42.090000,86.339996,125.000000,131.449997,409.070007,65.680000,186.000000
2022-04-21,130.360001,21.260000,230.550003,168.910004,157.000000,165.690002,329.100006,123.180000,326.190002,432.690002,...,78.860001,75.220001,88.949997,43.040001,87.730003,126.519997,134.960007,402.730011,66.059998,188.580002
2022-04-22,124.769997,20.600000,224.470001,166.460007,157.279999,163.500000,312.950012,123.019997,321.019989,420.709991,...,75.419998,75.230003,86.660004,41.759998,85.779999,124.080002,129.660004,389.549988,62.189999,183.839996
2022-04-25,119.529999,19.980000,217.729996,161.119995,154.839996,158.360001,297.100006,119.160004,309.390015,405.700012,...,71.019997,74.650002,82.370003,40.930000,84.410004,121.500000,125.199997,375.820007,59.369999,180.690002
2022-04-26,121.000000,19.840000,222.369995,162.250000,156.440002,157.919998,298.200012,118.610001,311.619995,410.170013,...,71.150002,73.589996,82.730003,41.000000,83.050003,120.300003,126.360001,386.820007,56.840000,178.960007