In [60]:
import requests
from datetime import date
import yfinance as yf
import pandas as pd
headers = {'User-Agent': 'Franz Kleber (franzkleber99@gmail.com)'}

In [2]:
def get_views(url):
    response = requests.get(url,headers = headers)
    return response.json()['items'][0]['views']

In [38]:
def construct_url(company, time_span):
    url = "https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia/all-access/all-agents/"
    url += str(company)
    url += "/monthly"
    url += time_span
    return url

In [55]:
def get_timespan(month = date.today().month, year = date.today().year):
    pre_month = month-1
    pre_year = year

    if month == 1:
        pre_month = 12
        pre_year -= 1
    
    if month < 10 :
        month = "0" + str(month)
    
    if pre_month < 10 :
        pre_month = "0" + str(pre_month)

    str_pre = str(pre_year) + str(pre_month) + "01"
    str_today = str(year) + str(month) + "01"

    return "/" + str_pre + "/" + str_today

In [69]:
tickers = yf.Tickers('msft aapl goog')

In [73]:
tickers.history()['High']

[*********************100%***********************]  3 of 3 completed

                  AAPL         GOOG        MSFT
Date
2022-03-09  163.410004  2683.969971  289.600006
2022-03-10  160.389999  2670.770020  286.600006
2022-03-11  159.279999  2684.000000  289.510010
2022-03-14  154.119995  2620.520020  285.399994
2022-03-15  155.570007  2610.344971  287.820007
2022-03-16  160.000000  2675.419922  294.570007
2022-03-17  161.000000  2694.790039  295.609985
2022-03-18  164.479996  2738.270020  301.000000
2022-03-21  166.350006  2751.649902  300.140015
2022-03-22  169.419998  2830.000000  305.000000
2022-03-23  172.639999  2800.500000  303.230011
2022-03-24  174.139999  2827.929932  304.200012
2022-03-25  175.279999  2839.189941  305.500000
2022-03-28  175.729996  2839.530029  310.799988
2022-03-29  179.009995  2883.250000  315.820007
2022-03-30  179.610001  2869.610107  315.950012
2022-03-31  178.029999  2852.889893  315.140015
2022-04-01  174.880005  2819.000000  310.130005
2022-04-04  178.490005  2880.875000  315.109985
2022-04-05  178.300003  2871.800049  314.869995
2022-04-06  173.630005  2796.969971  307.000000
2022-04-07  173.360001  2754.030029  303.649994
2022-04-08  171.779999  2725.000000  301.119995